body,div,dl,dt,dd,ul,ol,li,h1,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;padding:0
}
body{
    background:url(../images/背景5.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    font-weight: 700;
    color: rgba(0,0,0,0.6);

}
h1,h2{
    text-align: center;
    height: 25px;
    color: rgba(0,0,0,0.6);
}
.ym{
    /*background-color: rgba(0, 0, 0, 0.65);*/
    height: 600px;
    width:1511px;
    box-sizing: border-box;
}
.zong{
    /*background-color: rgba(253, 255, 203, 0.6);*/
    width: 1400px;
    height: 450px;
    margin-left:45px;
    margin-top:50px;
    box-sizing: border-box;
}
.zs{
    background-color: rgba(255, 192, 203, 0.6);
    width:320px;
    height: 430px;
    margin-left:430px;
    padding: 10px;
    float: left;
    box-sizing: border-box;

}
.ys{
    background-color: rgba(96, 107, 255, 0.65);
    width: 360px;
    height:430px;
    float: right;
    margin-right:290px;
    padding:10px;
    box-sizing: border-box;
}
.zx{
    background-color: rgba(90, 112, 190, 0.57);
    width:680px;
    height:120px;
    margin-left:475px;
    padding: 10px;
    box-sizing: border-box;

}
.zj{
    /*background-color: greenyellow;*/
    width:1200px;
    height:300px;
    text-align: center;
    margin-left:195px;
    box-sizing: border-box;
}
.db{
    width: 100px;
    height: 25px;
    margin-left:700px;
    box-sizing: border-box;
    /*background-color: yellow;*/
}
.duan{
    border: 1px none #fff;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    width:80px;
    padding-left:10px;
}
.chang{
    border: 1px none #fff;
    border-bottom: 1px solid #000;
    background-color: rgba(0,0,0,0);
    width:170px;
}
.pj{
    /*background-color: rgba(71, 255, 55, 0.54);*/
    height:45px;
}
.pj1{
    /*background-color: rgba(236, 99, 255, 0.53);*/
    height:89px;
}
.bjdh{
    width: 100%;
    height: 1000px;
    background:rgba(255,255,255,0.7);
}
select{
    background-color: rgba(0,0,0,0);
}
textarea{
    padding:5px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.6);
}